body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Full viewport height */
    background-image: url('canvasdrawing.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
